/* NavBar.css

/* 
#app-bar {
  background-color: #2196f3;
}


.nav-button {
  color: white;
  display: block;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #1565c0;
}

/* #avatar-tooltip {
  padding: 0;
}


#settings-menu {
  margin-top: 55px;
}

.menu-item {
  text-align: center;
}  */

Navbar.css */
.navBar {
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 150px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  } 