/* Add this CSS to your Login component or in a separate stylesheet */

/* .login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
  font-style: italic;
  display: block;
  color: #000203;
}

input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 43px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

h4 {
  margin-top: 20px;
  color: #035f66;
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 10px;
}

.login-container{
  align-items: center;
  margin-left: 560px;
  margin-top: -350px ;
}

/* Add this CSS to your Login component or in a separate stylesheet */


/* .login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 200px;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid #3498db;
  padding: 15px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
  font-style: italic;
  display: block;
  color: #000203;
}

input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 43px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

h4 {
  margin-top: 20px;
  color: #035f66;
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 10px;
}  */